/* Global styles go in this file */

:root {
  --primary-color: #dc3545;
  --primary-color-light: #fff3f3;
}

span.centered {
    display: inline-block;
    width: 100%;
    text-align: center;
}

div.calc-notes {
    max-width: 700px;
}

#calculator-selection-grid ul li {
  list-style-type: none;
}

table.calc-vars thead tr {
  background-color: var(--primary-color);
  color: #ffffff;
}

table.calc-vars tbody tr:nth-child(odd) {
  background-color: var(--primary-color-light);
}

div.MathJax_Display {
  text-align: center !important; /* Have to do this because for some weird reason style is being set on this element with text-align: left */
}


.tooltip {
  max-width: 300px;
}