/* Global styles go in this file */

span.centered {
    display: inline-block;
    width: 100%;
    text-align: center;
}

div.calc-notes {
    max-width: 700px;
}

#calculator-selection-grid ul li {
  list-style-type: none;
}

table.calc-vars, table.calc-vars td {
  /* border: 1px solid #dddddd; */
}

table.calc-vars tr:nth-child(odd) {
  background-color: #eeeeee;
}