html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// Body contains content div
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#content {
    .unitsCol {
        width: 100px;
    }
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.subtitle {
    color: gray;
}
