html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// Body contains content div
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.calculatorTable {

    td {
        padding: 10px;
    }

    input.varDispVal {
        height: 26px;

        &.ok {
            // This is a light green colour
            background-color: #92D18B;
        }
    }

    .unitsCol {
        width: 70px;
    }
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.subtitle {
    color: gray;
}

// Custom react-select styling


// Commented out for now because maybe we don't need it?
/*
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 24px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;

  font-size: 14px;
}

.Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 15px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-value {
  color: #aaa;
  left: 0;
  padding: 8px 20px 8px 10px;
  position: absolute;
  right: -15px;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-input {
  height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}*/