/* The variable-value class is applied to the input object of CalcValue,
CalcValueAndUnit, and CalcVarString */
input.variable-value {
  border-style: solid;
  border-radius: 2px;

  /* Add a small amount of padding before the first number in the input
  text box (otherwise the number collides with the side of the input border). */
  padding-left: 5px;
}

.ok {
  background-color: rgb(190, 255, 189);
  border-color: rgb(190, 255, 189);
}

.warning {
  background-color: rgb(255, 221, 144);
  border-color: rgb(255, 221, 144);
}

.error {
  background-color: rgb(255, 195, 198);
  border-color: rgb(255, 195, 198);
}

.input {
  border-width: 3px;
}

.input.ok {
  border-color: rgb(38, 148, 30);
}

.input.warning {
  border-color: rgb(211, 118, 35);
}

.input.error {
  border-color: rgb(255, 70, 82);
}
