/* This file contains global styling for the NinjaCalc app */

/* ============================================================================================= */
/* ========================================= STYLE RESET ======================================= */
/* ============================================================================================= */
table {
  /* This prevents the "double border" problem with table cells */
  border-collapse: collapse;
}

/* ============================================================================================= */
/* ========================================== CALC TABLE ======================================= */
/* ============================================================================================= */

.calc-table td, th {
  border: 1px solid #CCC;
  padding: 5px;
}

.calc-table th {
  background: #4a4a4a; /* Light grey background */

  font-weight: normal;
  color: #ffffff;
}

/* Cells in even rows (2,4,6...) are one color */
.calc-table tr:nth-child(even) {
  background: #F1F1F1;
  transition: all 0.5s;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
.calc-table tr:nth-child(odd) {
  background: #FEFEFE;
  transition: all 0.5s;
}

.calc-table tr:hover {
  /* This will be applied with a transition effect */
  background: #666; color: #FFF !important;
}
