#expressionsVBox {
    -fx-background-color: #f5f5f5;
}

.text-area {
  -fx-font-family: Consolas;
  /*-fx-highlight-fill: #00ff00;
  -fx-highlight-text-fill: #000000;*/
  -fx-text-fill: gray;

  /* Silver is equal to #c0c0c0 */
  -fx-border-color: silver;
  -fx-border-radius: 10;

}

/* The next four rules are required to make TextAreas fully transparent */
.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}